@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-color: #252945;
	--primary-color-opacity: #252945b3;
	--secondary-color: #e6bdc2;
	--tertiary-color: #cd7a84;
	--light-color: #f9f0f1;

	background-color: var(--primary-color);
	color: var(--light-color);
}
